html {
	height: 100%;
	letter-spacing: 0.2px;
}

body {
	font-family: "Raleway", sans-serif;
	color: #eee;
	height: 100%;
	overflow: hidden;
	background: #222;
}

#swiftui-kara-wrapper {
	margin-top: 40px;
	height: calc(100% - 120px);
	width: 100%;
}

swiftui-kara {
	height: 400px;
	width: 100%;

	font-family: "Raleway", sans-serif;
	font-size: 50px;
	font-weight: bold;
	line-height: 30px;
}

swiftui-karatext {
	color: #FC5956; /* Clipping text color */
	background-color: #444; /* Ground text color */
}

#player-wrapper {
	position: absolute;
	height: 120px; bottom: 0;
	width: 100%;
	padding: 0 20px;
	overflow-x: auto;
}

#player-wrapper-inner {
	position: absolute;
	top: 0; bottom: 0;
	width: 800px;
}

#control-btn {
	background: #2d2d2d;
	color: #FC5956;
	min-width: 0;
	width: 60px;
	height: 60px;
	padding: 0;
	border-radius: 50%;
	transition: background 0.25s ease;
}

#control-btn:hover {
	background: #fff;
}

#song-informations {
	margin-left: 20px;
}

#song-informations #names {
	height: 80px;
	margin-left: 20px;
}

#song, #artist {
	font-weight: bold;
}

#artist, #album {
	font-size: 12px;
}

#time-informations {
	margin-left: 20px;
}

#time-progress {
	margin-right: 10px;
}

#time-progress::shadow #progressContainer {
	background: #2d2d2d;
}

#time-progress #progressContainer {
	background: #2d2d2d;
}

#time-progress::shadow #activeProgress {
	background: #FC5956;
}

#time-progress #activeProgress { /* For Firefox */
	background: #FC5956;
}

#credit-wrapper {
	position: absolute;
	height: 40px; top: 0;
	width: 100%;
	font-size: 12px;
	border-bottom: 1px solid #111;
}

#credit-wrapper a {
	text-decoration: none;
	color: #FC5956;
	transition: color 0.25s ease;
}

#credit-wrapper a:hover {
	color: #eee;
}

#credit-wrapper a core-icon {
	margin-right: 5px;
}

@media (max-device-width: 800px) {
	swiftui-kara {
		font-size: 30px;
		line-height: 20px;
	}

	#swiftui-kara-wrapper {
		height: calc(100% - 200px);
	}

	#player-wrapper {
		height: 200px;
		padding: 0;
	}

	#player-wrapper-inner {
		width: 100%;
		flex-direction: column;
		justify-content: space-around;
	}

	#song-informations, #time-informations {
		align-self: flex-start;
	}
}

@media (max-device-width: 480px) {
	swiftui-kara {
		font-size: 20px;
		line-height: 15px;
	}
}